<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Wish</title>
</head>

<body>
    <h2>Hello {{ user.first_name }}! Let's edit your wish!</h2>
    <form action="/update/{{wish.id}}" method='POST'>
        {% csrf_token %}
        <div class="form-group">

            <!-- {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} -->

            <label>I wish for:</label>
            <input type="text" value='{{ wish.item }}' name='item'>
        </div>
        <div>
            <label> Description:</label>
            <input type="text" value="{{ wish.description }}" name='description'>
        </div>
        <button type="submit" value='submit'>Edit</button>
        <a class='go_back' href="/success">Cancel</a>
    </form>
</body>

</html>