<h1>{{request.session.name}}, you're about to make a wish!</h1>

<div class="form">
    <h3>create a wish</h3>
    <form action="/create_wish" method="POST">
        {% csrf_token %}
        <p>specific item you're wishing for</p>
        <input type="text" name="item">
        <p>description</p>
        <input type="text" name="description">
        <input type="submit" value="Wish!">
    </form>
</div>