<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>{{request.session.name}}, you've successfully logged in</h1>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}

    <a href="/logout">logout</a>

    <br>

    <a class="new_wish" href="/new"><button class="btn btn-outline-success my-2 my-sm-0">Make a wish</button></a>
    

  <br>
    <h2>post a message:</h2>
    <form action="/create_message" method="POST">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Post">
    </form>

<br>

    <table class="table table-dark">
        <thread>
            <tr>
                <th>Item</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
            {% for wish in wishes %}
                <tr>
                    <td>{{ wish.item }}</td>
                    <td>{{ wish.created_at }}</td>
                    <td><a href="/{{ wish.id }}/delete">Delete</a> | <a href="/{{ wish.id }}/edit">Edit</a> | <a href="/success/{{ wish.id }}/delete">Granted</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


 <!-- two -->

<!--     <table class="table table-dark">
        <thread>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
            {% for show in all_shows %}
                <tr>
                    <td>{{ show.id }}</td>
                    <td>{{ show.title }}</td>
                    <td>{{ show.network }}</td>
                    <td>{{ show.release_date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="/shows/{{ show.id }}">Show</a> | <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <a href="/shows/new">Add a new show</a>
    </table>

 -->
    

get help on edit within table on wish items
get help on displaying on the logged session users wishes as opposed to everyone elses

</body>
</html>